
<%- errors.group_by(&:subsection).each do |subsection, subsection_errors| -%>

  <%- subsection_errors.each_with_index do |e,index|
        error_id = @error_mapping[e.location] if e.location
  -%>
          
    <tr>
      <td colspan="4">
        <%- unless subsection.nil? -%>
          <div class="column span-15 subsection_name">
            <div class="subsection_title"><h4><%= subsection.titleize %></h4>
            <div class="error_severity"><p><%= e.msg_type %></p></div>
          </div>
        <%- end -%>
      </td>
    </tr>
    <tr>
      <td>
        <p><span class="type"><%= e.error_type %></span></p>
        <div class="validator_type"><p><%= e.validator %></p></div>
      </td>
      <td>
        <p><%= e.field_name %></p>
      </td>
      <td>
        <% if error_id %>
          <a style="color:#cc3300" href="javascript:scroll_to_module('error_<%=error_id%>', 1.0);" ><b><%= index %></b> <span><%= h e.error_message %></span></a>
          <a title="$(...).scrollTo( 'error_<%=error_id%>', 1.0, {axis:'x'} );//only scroll on this axis (can be x, y, xy or yx)" id="options-axis" href="#"><b><%= index %></b> <span><%= h e.error_message %></span></a>
        <% else %>
          <b><%= index %>.</b> <span><%= e.error_message %></span>
        <% end %>
      </td>
      <td>
        
      </td>
    </tr>
     
  <%- end # subsection_errors -%>
<%- end # subsections -%>
