  
  <%- errors.group_by(&:subsection).each do |subsection, subsection_errors| -%>

  <!-- MODULE SUBSECTION HEADER -->
  <%- unless subsection.nil? or true # turn off subsection headers for the moment -%>
  <tr>
    <td class="subsection_header" colspan="4">
        <div class="subsection_title"><p><%= subsection.to_s.titleize %></p></div>
    </td>
  </tr>
  <%- end -%>
  <!-- END MODULE SUBSECTION HEADER -->

  <%- subsection_errors.each_with_index do |e,index|
        content_error_id = "content_error_#{e.id}"
        error_id = @error_mapping[e.location] if e.location
  -%>

  <!-- MODULE SUBSECTION ERRORS TABLE ROW -->
  <tr id="<%= content_error_id %>" class="<%= "#{e.state}" %>">

    <!-- ERROR TYPE & VALIDATOR -->
    <td class="error_type_details">
      <p><%= e.error_type %>&nbsp;(<%= e.msg_type %>)</p>
    </td>

    <!-- FIELD NAME -->
    <td>
      <p><%= e.field_name.try(:to_s).try(:humanize) %></p>
    </td>

    <!-- ERROR MESSAGE -->
    <td title="<%= h e.error_message %>">
      <% if error_id %>
        <a id="error_<%=error_id%>" class="error_link" href="#" onclick="$j('#xml_frame').scrollTo( $j('div#error_<%=error_id%>'));"><b><%= index %></b> <span><%= h e.summary %></span></a>
      <% else %>
        <b><%= index %>.</b> <span><%= e.summary %></span>
      <% end %>
    </td>

    <!-- ERROR RESULT -->
    <td class="result">
      <% form_for(e, :url => '') do |f| %>
        <%= f.select :state, { 'PASS' => 'passed', 'REVIEW' => 'review', 'FAIL' => 'failed' }, {},
          :onchange => remote_function(:url => mark_content_error_path(e), :with => 'Form.serialize(this.parentNode)', :success => "update_error_class('#{content_error_id}');", :failure => "reset_error('#{content_error_id}');") %>
      <% end %> 
    </td>
  </tr>
  
  <%- if e.details? %>
  <tr id="<%= content_error_id %>_details">
    <td colspan="4">
      <a class="manual-review" href="#">DETAILS</a>
      <div class="error_review" colspan="4">
        <%- case e.error_type -%>
          <%- when 'ComparisonError' -%>
          <div class="error_detail_review">
            <div class="column span-9 data_field">
              <dl class="inline">
                <dt>Expected:</dt>
                <dd><%= e.expected %></dd>
              </dl>
            </div>
            <div class="column span-8 data_field">
              <dl class="inline">
                <dt>Provided:</dt>
                <dd><%= e.provided%></dd>
              </dl>
            </div>
          </div>

          <%- when 'NoMatchingSection' -%> 
          <div class="error_detail_review">
            <div class="column span-9 data_field">
              <p><strong>Expected Section:</strong></p>
              <%= render :partial => 'hash_definition_list', :locals => { :hash_definition_list => e.expected_section } %>
            </div>
            <div class="column span-8 data_field">
              <p><strong>Provided Sections:</strong></p>
              <%= render :partial => 'hash_definition_list', :collection => e.provided_sections %>
            </div>
          </div>
        <%- end # error_type - additional fields %>
      </div>
    </td>
  </tr>
  <%- end -%>
    
  <!-- END ERROR TYPE & VALIDATOR -->

  <%- end # subsection_errors -%>
  <%- end # subsections -%>

