<ol id="error_report_toc">
    <li class="current"><a href="#test_summary">Summary</a></li>
    <li><a href="#xml_validation">XML Validation</a></li>
    <li><a href="#content_inspection">Content Inspection</a></li>
    <li><a href="#umls_validation">UMLS Validation</a></li>
</ol>

<div id="test_summary" class="test_results">
      
      <div class="column span-11 first">
        <div id="test_summary_meta">
          <p><strong>Test Date:</strong> <%= @test_plan.updated_at %></p>
          <h3>Inspection ID: <%= @test_plan.vendor %></h3>
          <h3>Document Type: <%= @test_plan.clinical_document.doc_type %></h3>
        </div>     
        <div id="test_summary_breakdown">
          <div class="inspection_result_header <%= test_plan_results_class(@test_plan) %>">
            <h3>Test Result Summary: <span><%= test_plan_results_heading(@test_plan) %></span></h3>
          </div>
          <div class="widget">
            <span class="number"><%= @test_plan.xml_validation_errors.count %></span> <a href="#xml_validation">XML Validation Errors</a>
          </div>
          <div class="widget">
            <span class="number"><%= @test_plan.content_inspection_errors.count %></span> <a href="#content_inspection">Content Inspection Warnings</a>
          </div>
          <% if @test_plan.umls_enabled? -%>
          <div class="widget">
            <span class="number"><%= @test_plan.umls_codesystem_errors.count %></span> <a href="#umls_validation">UMLS Code Warnings</a>
          </div>
          <% end -%>
        </div><!-- End test summary breakdown-->
      </div>
      <div class="column span-8 prepend-2 last">
        <div style="float: right;">
          <%= render :partial => 'print_preview' %>
        </div>
        <%= render :partial => 'assign_test_state_manually' %>
        <table id="details">
        <% if @test_plan.proctor -%>
          <tr>
            <td class="lighttext">Test Proctor</td>
            <td><%= link_to h(@test_plan.proctor), @test_plan.proctor %></td>
          </tr>
        <% end -%>
        <% unless @test_plan.umls_enabled? %>
          <tr>
            <td class="lighttext">UMLS Coded Value Testing</td>
            <td>Disabled</td>
          </tr>
        <% end -%>
        </table>
      </div>
</div>

<div id="xml_validation" class="test_results">
    <h2>XML Validation Results:</h2>
    <%= render :partial => "error_list",
      :locals => { :errors => @test_plan.xml_validation_errors } %>
</div>

<div id="content_inspection"class="test_results">
    <h2>Content Inspection:</h2>
    <%= render :partial => "error_list",
      :locals => { :errors => @test_plan.content_inspection_errors } %>
</div>

<div id="umls_validation" class="test_results">
    <h2>UMLS Validation:</h2>
    <% if @test_plan.umls_enabled? -%>
      <%= render :partial => "error_list",
        :locals => { :errors => @test_plan.umls_codesystem_errors } %>
    <% end -%>
</div>    

<div id="xml_controls" class="column">
    <a id="launch_xml_window" href="#" onclick="Effect.SlideDown('xml_window', { duration: 0.325 }); return false;">VIEW XML</a>
</div>

<div id="xml_window" style="display: none;">
  <!-- Start Pretty XML -->
  <div class="column pretty-xml" style="background: #FFF; overflow: auto; width: 70%; height: 200px; padding: 10px; margin: 0 14%; position: relative;">
    <p><a href="#" onclick="$('xml_window').hide(); return false;">CLOSE</a></p>
    <h3>Vendor Generated XML</h3>
    <hr/>
    <%= render :partial => "node" , :locals => {:doc => @xml_document} %>
  </div>
  <!-- End Pretty XML -->
</div>
